<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form (ngSubmit)="checkLogin()" [formGroup]="formLogin">
			<h1>Sign in</h1>
			<div class="social-container">
				<a  class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a  class="social"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
				<a  class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			</div>
			<span>or use your account</span>
      <input type="text" class="form-control" name="username" formControlName="username" placeholder="username" />
      <small *ngIf="formLogin.get('username').invalid && formLogin.get('username').touched" class="text-danger">Please
                enter a valid username!</small>
      <input type="password" class="form-control" name="password" formControlName="password" placeholder="password" />
      <small *ngIf="formLogin.get('password').invalid && formLogin.get('password').touched" class="text-danger">This
                  field can't be left empty!</small>
			<a >Forgot your password?</a>
			<button [disabled]="formLogin.invalid">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp" routerLink="/register">Sign Up</button>
        <button class="ghost" [style.margin-top.px]="10" routerLink="/home">Go HomePage</button>
			</div>
		</div>
	</div>
</div>

