<ng-container *ngIf="totalMoney;else nothing">
<div class="container">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>total</th>
        <th>Remove Item</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allItem; let i = index">
        <td>{{ i+1 }}</td>
        <td> <b>{{ item.product.name}}</b></td>
        <td><img [src]="item.product.link" [style.width.%]="100" alt="" /></td>
        <td>{{ item.product.price }}</td>
        <td>
          <i class="fa fa-minus" (click)="onChangeValue(username,item.product.id,false)"></i>
          {{item.qty}}
          <i class="fa fa-plus" (click)="onChangeValue(username,item.product.id,true)"></i>
        </td>
        <td>{{ item.product.price * item.qty | currency: "USD"  }}</td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            (click)="removeItem(username,item.product.id)"
          >
            Remove
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">Total:</td>
        <td>{{ totalMoney | currency: "USD" }}</td>
      </tr>
    </tfoot>
  </table>
</div>
</ng-container>
<ng-template #nothing>
  
  <div class="panel panel-success text-align-center">
      <div class="panel-heading">
        <h3 class="panel-title">Giỏ Hàng Hiện Đang Trống Bạn Có Muốn Tìm Sản Phẩm Khác?</h3>
      </div>
      <div class="panel-body">
        Nhấn Home Để Quay Về Trang Chủ
      </div>
  </div>
  
</ng-template>
