<!-- <label for="">What are you looking for?</label>
  <button (click)="onSelect('All')">All</button>
  <button (click)="onSelect('Phone')">Phone</button>
  <button (click)="onSelect('Laptop')">Laptop</button>
  <button (click)="onSelect('Tivi')">Tivi</button> -->

<div class="row">
  <div
    class="col-xs-4 col-sm-4 col-md-4 col-lg-4"
    *ngFor="let item of listProduct"
  >
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5 class="panel-title">{{ item.name }}</h5>
      </div>
      <div class="panel-body">
        <img [src]="item.link" />
        <span>Price: {{ item.price | currency: "USD"}}</span> 
        <input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="" #qty>
        <br>
        <div class="btn-group">
          <button type="button" class="btn btn-success product-btn" (click)="onAddCart(item,qty)">Add to cart</button>
          <button type="button" class="btn btn-primary product-btn">View Detail</button>
        </div>
      </div>
    </div>
  </div>
</div>
