
<!-- zxczxc -->
  <div class="row alert alert-success">
    <div class="col-12">
      <h2 class="text-center">
        PRODUCTS LIST
      </h2>
    </div>
  </div>
      <hr>
      <div class="row" style="border: 1px solid red;">
        <div class="col-4 card" *ngFor="let product of listProduct">
          <div class="card-body">
            <div class="my-card-body">
              <div class="alert alert-primary text-center" role="alert" [style.height]="'80px'">
                <h4 class="alert-heading my-item-name">{{product.name}}</h4>
              </div>
              <div class="text-center">
                <img [style.height.%]="100" src="{{product.link}}" alt="{{product.name}}" >
              </div>
              <hr>
              <h5 class="text-center my-3">Price: {{product.price | currency:"USD"}}</h5>
              <input type="number" [disabled]="!username"  step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" [style.width.%]="100"  #qty>
              <div class="btn-group" [style.width.%]="100">
                <button type="button" class="btn btn-success product-btn" (click)="onAddCart(product,qty,username)">Add to cart</button>
                <ng-container *ngIf="!isAdmin"> <button type="button" class="btn btn-danger" (click)="deleteItem(product)">Delete</button></ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>